@import "bootstrap.less";
@white : #ffffff;
html, body {
	height:100%;
}

body {
	position: relative;
}

#indef-load {
	position: absolute;
	top:0px;
	height:10px;
	left:0px;
	right:0px;
	.border-top-radius(0px);
	.border-bottom-radius(0px);
	display: none;

}

h6 {
	color:@gray-light;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px fadeout(darken(@gray-lighter, 10%), 70%);
}
p.lead {
	margin-bottom: 4px;
}

.results-head {
	margin-top: @grid-gutter-width*1.5;
	margin-bottom: @grid-gutter-width/2;
	h6 {
		padding-left: @grid-gutter-width/4;

	}

}

.active-li(@color: @input-border-focus) {
  @color-rgba: rgba(red(@color), green(@color), blue(@color), .6);
    border-color: @color;
    outline: 0;
    .box-shadow(~"inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px @{color-rgba}");
}

.title-home {
	color:@gray-darker;
	text-align: center;
	margin-bottom:@grid-gutter-width;
	display: block;	

	&:hover {
		color:@gray;
		text-decoration: none;

	}
}


ul.result-list {
	list-style: none;
	padding:0px;
	margin:0px;

	li {
		padding:0px @grid-gutter-width/4;
		border:1px solid @white;
		border-top:1px solid darken(@gray-lighter, 10%);
		border-bottom:1px solid darken(@gray-lighter, 0%);
		.transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");
		position: relative;

		a {
			color:@gray;

			&:hover {
				color:@gray-darker;
				text-decoration:none;
			};
		}

		h5, h6 {
			margin-right:@grid-gutter-width*3;
		}


		.dataset-label {
			position: absolute;
			right:@grid-gutter-width;
			padding-left:8px;
			padding-right:8px;

			top:~"calc(50% - 5px)";
		}

	}

	li.active {
		.active-li();
	}
}


#raw-data {
	display: none;
}
pre {
	.key {
		color: @brand-success;
	}
	.string {
		color: @brand-primary;
	}
	.number {
		color:@brand-warning;
	}
	.boolean {
		color:@brand-info;
	}
	.null {
		color:@brand-danger;
	}
}

.doc-info {
	padding-top: @grid-gutter-width;
}


.label-sf1 {
	.label-info();
}

.label-acs5 {
	.label-warning();
}



.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: @brand-info;
}

.bar:hover {
  fill: lighten(@brand-info, 20%);
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 12px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


@foot-height: 40px;

.page-wrap {
  min-height: 100%;
  padding-bottom: @grid-gutter-width;
  /* equal to footer height */
  margin-bottom: -@foot-height; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: @foot-height; 
}
.site-footer {
	a, span {
		color:@gray-light;
		margin: 0px 2px;
	};
	padding:(@foot-height - (@line-height-computed/2)) @grid-gutter-width;

}