
<!DOCTYPE html>

<html lang="en">
	<head>


		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<script type="text/javascript" src="/static/js/libs/require.js"></script>
		<script type="text/javascript" src="/static/js/app.js"></script>


		{% block scripts %}

		{% endblock %}
	</head>

	<body>

		<div id="indef-load" class="progress progress-striped active">
			<div class="progress-bar progress-bar-warning"  role="progressbar" style="width: 100%"></div>
		</div>


		<div class="page-wrap">
			{% block main %}

			{% endblock %}
		</div>
		<footer class="site-footer container">
			<a href="http://hiiamchris.com">
				A thing by Chris
			</a>
			<span>
				&middot;
			</span>
			<a href="https://github.com/rozap/census-explorer">
				Source
			</a>
		</footer>

	</body>


</html>