{% extends "core.html" %}

{% block main %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<a href="#" class="title-home">
				<h3>Census Explorer</h3>
			</a>
			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-search"></span>
				</span>
				<input type="text" class="form-control ds-search" placeholder="Search for Datasets">
			</div>
		</div>
	</div>


	<div id="results" class="row">

		<div style="margin-top: 60px;" class="col-lg-12">
			<h6>Examples</h6>
			 <p>
			 	<span class="text-muted">&middot; Search for</span>
			 	"means of transportation"
			 	<span class="text-muted">to find how Americans get to work, like</span>
			 	<a href="#dataset/acs5/B08301_002E/28447">this</a>
			 </p>
			 <p>
			 	<span class="text-muted">&middot; Search for</span>
			 	"blackfeet"
			 	<span class="text-muted">and get info on the Blackfeet tribe like</span>
			 	<a href="#dataset/acs5/B02005_004E/24947">this</a>
			 </p>
		</div>


	</div>

</div>

{% endblock %}